<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="palm1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.6485451076391E-06 6.03997626400469E-06 2.05175063346715E-05"
        rpy="0 0 0" />
      <mass
        value="3.19343663145282E-11" />
      <inertia
        ixx="1.24711139664769E-20"
        ixy="7.42950023163628E-24"
        ixz="5.88640924069087E-24"
        iyy="1.2348284600344E-20"
        iyz="1.20366607892645E-24"
        izz="2.45159569221095E-20" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://palm1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://palm1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="palm_Link">
    <inertial>
      <origin
        xyz="-3.18276843813692E-05 -6.55628256822638E-05 3.1028199151071E-05"
        rpy="0 0 0" />
      <mass
        value="9.71232661681929E-13" />
      <inertia
        ixx="8.41900413941212E-23"
        ixy="2.53363645294033E-26"
        ixz="-1.10409664574448E-25"
        iyy="8.41895371604218E-23"
        iyz="7.23039495175192E-27"
        izz="2.53544897622052E-24" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://palm1/meshes/palm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://palm1/meshes/palm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="palm_joint"
    type="fixed">
    <origin
      xyz="3.1828E-05 3.1028E-05 6.5563E-05"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="palm_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>